.DS_Store
basic1.tcl
Reno/.DS_Store
Reno/0.tr
Reno/1.tr
Tahoe/.DS_Store
Tahoe/0.tr
Tahoe/1.tr
Vegas/.DS_Store
Vegas/0.tr
Vegas/1.tr
__pycache__/nstrace.cpython-37.pyc
Newreno/0.tr
Newreno/1.tr
Newreno/2.tr
Newreno/3.tr
Newreno/4.tr
Newreno/5.tr
Newreno/6.tr
Newreno/7.tr
Newreno/8.tr
Newreno/9.tr
Tahoe/2.tr
Tahoe/3.tr
Tahoe/4.tr
Tahoe/5.tr
Tahoe/6.tr
Tahoe/7.tr
Tahoe/8.tr
Tahoe/9.tr
Vegas/2.tr
Vegas/3.tr
Vegas/4.tr
Vegas/5.tr
Vegas/6.tr
Vegas/7.tr
Vegas/8.tr
Vegas/9.tr
__pycache__/nstrace.cpython-37.pyc
Newreno/Newreno0.tr
Newreno/Newreno1.tr
Newreno/Newreno2.tr
Newreno/Newreno3.tr
Newreno/Newreno4.tr
Newreno/Newreno5.tr
Newreno/Newreno6.tr
Newreno/Newreno7.tr
Newreno/Newreno8.tr
Newreno/Newreno9.tr
Tahoe/TCP0.tr
Tahoe/TCP1.tr
Tahoe/TCP2.tr
Tahoe/TCP3.tr
Tahoe/TCP4.tr
Tahoe/TCP5.tr
Tahoe/TCP6.tr
Tahoe/TCP7.tr
Tahoe/TCP8.tr
Tahoe/TCP9.tr
Vegas/Vegas0.tr
Vegas/Vegas1.tr
Vegas/Vegas2.tr
Vegas/Vegas3.tr
Vegas/Vegas4.tr
Vegas/Vegas5.tr
Vegas/Vegas6.tr
Vegas/Vegas7.tr
Vegas/Vegas8.tr
Vegas/Vegas9.tr
__pycache__/nstrace.cpython-37.pyc
TCP/TCP0.tr
TCP/TCP1.tr
TCP/TCP2.tr
TCP/TCP3.tr
TCP/TCP4.tr
TCP/TCP5.tr
TCP/TCP6.tr
TCP/TCP7.tr
TCP/TCP8.tr
TCP/TCP9.tr
